[submodule "addons/oca/server-tools"]
	path = addons/oca/server-tools
	url = https://github.com/OCA/server-tools
	branch = 18.0
[submodule "addons/oca/web"]
	path = addons/oca/web
	url = https://github.com/OCA/web
	branch = 18.0
[submodule "addons/oca/queue"]
	path = addons/oca/queue
	url = https://github.com/OCA/queue
	branch = 18.0
[submodule "addons/oca/reporting-engine"]
	path = addons/oca/reporting-engine
	url = https://github.com/OCA/reporting-engine
	branch = 18.0
[submodule "addons/oca/account-financial-tools"]
	path = addons/oca/account-financial-tools
	url = https://github.com/OCA/account-financial-tools
	branch = 18.0
